
@{
    ViewBag.Title = "Sign up requested submitted";
}

<h1>@ViewBag.Title</h1>

<p class="mainText">Thank you. Your sign up request has been submitted.</p>

<p class="mainText">A member of the team will be in touch shortly.</p>

