
@{
    ViewBag.Title = "Sign up Request Pending";
}

<h1>@ViewBag.Title</h1>

<section class="mainText">The sign up request for this Practice has already been submitted.  If you need to amend your request, please email the GP Tutor Support - Community Studies Unit at <a href="mailto:livunigp@liverpool.ac.uk">livunigp@liverpool.ac.uk</a> and we will get back to you as soon as possible</section>

