
@{
    ViewBag.Title = "Approval Pending";
}

<h1>@ViewBag.Title</h1>

<section class="mainText">The previous changes to your contact details have not yet been approved. No further changes can be made at the moment.</section>

