
@{
    ViewBag.Title = "Invite Sent";

    var getSendCode = Request.QueryString["getSendCode"];
    var sendCount = ViewData["SendCount"];
}

<h1>@ViewBag.Title</h1>
<p class="mainText">This email was sent to @sendCount practice users.</p>
@*<p>Click here to view the send list.</p>*@

